body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 0 auto;
    padding: 0;
    text-align: center;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0;
}

section {
    margin: 20px;
}

h2 {
    color: #333;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.logo{
  height: 100px;
  width: 10%;
  margin: 0 auto!important;
  justify-content: center;
  display:flex;
}